@using CitasApp.Domain.Models
@model IEnumerable<Medico>

@{
    ViewData["Title"] = "Lista de Médicos";
}

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Cuerpo Médico</h1>
        <span class="badge bg-success fs-5">Personal Activo</span>
    </div>

    <table class="table table-striped table-hover border shadow-sm">
        <thead class="table-success table-dark">
            <tr>
                <th>ID</th>
                <th>Nombre del Doctor</th>
                <th>Especialidad</th>
                <th>Número de Licencia</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var medico in Model)
            {
                <tr>
                    <td>@medico.Id</td>
                    <td class="font-weight-bold">@medico.Nombre</td>
                    <td><span class="badge bg-secondary">@medico.Especialidad</span></td>
                    <td><code>@medico.NumeroLicencia</code></td>
                    <td class="text-center">
                        <a asp-controller="Medico" asp-action="Detalle" asp-route-id="@medico.Id" class="btn btn-success btn-sm">
                            <i class="bi bi-eye"></i> Ver Perfil
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>